# Arquivo: .gitignore

# Arquivo de segredos e variáveis de ambiente
.env

# Dependências e cache do Python
venv/
__pycache__/
*.pyc

# Arquivos do Docker
mysql_data/

# Arquivos de IDEs (opcional, mas recomendado)
.vscode/
.idea/